<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <span>Hi {{greetingName}}!</span>
  </div>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import Vue from 'vue';
import User from '../models/user';

@Component
export default class Home extends Vue {
  userJson: string = localStorage.getItem('user') || '{}';
  user: User =  <User>JSON.parse(this.userJson);
  greetingName: string = this.user && this.user.firstName ? this.user.firstName : this.user.username;
};
</script>
