<template>
  <div>
    <h1>Products</h1>

    <p>This component demonstrates fetching data from the server.</p>

    <v-layout justify-center>
      <v-flex shrink>
        <div id='product-form'>
          <product-form :currentProduct="currentProduct" :isProcessing="isProcessing" :onSubmit="submit"></product-form>
        </div>
      </v-flex>
    </v-layout>

    <div v-if="!products" class="text-center">
      <p>
        <em>Loading...</em>
      </p>
      <h1>
        <!-- <icon icon="spinner" pulse/> -->
      </h1>
    </div>

    <template v-else>
      <table class="table">
        <thead class="bg-dark text-white">
          <tr>
            <th>Product Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr :class="index % 2 == 0 ? 'bg-white' : 'bg-light'" v-for="(product, index) in products" :key="index">
            <td class="product-id">
              <a href="javascript:void(0)" @click.prevent="getProduct">{{ product.id }}</a>
            </td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.createdOn }}</td>
            <td>{{ product.updatedOn }}</td>
            <td>
              <button class='btn btn-danger' :id="product.id" @click.prevent="deleteProduct">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ProductForm from "../components/product-form.vue";
import { productApi } from "../services/product.service";
import { Component } from "vue-property-decorator";
import Product from "../models/product";

@Component({
  components: {
    "product-form": ProductForm
  }
})
export default class ProductList extends Vue {
  currentProduct: Product = <Product>{};
  isProcessing: boolean = false;
  products: any = null;

  async loadPage() {
    try {
      const response: any = await productApi.getAll();
      this.products = <Product>response;
    } catch (err) {
      window.alert(err);
    }
  }

  async getProduct(event: Event) {
    this.isProcessing = true;
    const td = <HTMLElement>event.target;
    const id = td.outerText;
    const response: any = await productApi.get(id);
    this.currentProduct = <Product>response;
    this.isProcessing = false;
  }

  async submit(event: Event) {
    this.isProcessing = true;
    if (Object.keys(this.currentProduct).length !== 0) {
      if (!this.currentProduct.id) {
        productApi.create(this.currentProduct).then(() => {
          this.currentProduct = <Product>{};
          this.loadPage();
          this.isProcessing = false;
        });
      } else {
        productApi.update(this.currentProduct).then(() => {
          this.currentProduct = <Product>{};
          this.loadPage();
          this.isProcessing = false;
        });
      }
    } else {
      this.isProcessing = false;
    }
  }

  async deleteProduct(event: Event) {
    const button = <HTMLButtonElement>event.target;
    button.disabled = true;
    const id = button.id;
    productApi.delete(id).then(() => {
      this.loadPage();
      button.disabled = false;
    });
  }

  async created() {
    this.loadPage();
  }
}
</script>

<style scoped lang="scss">
#product-form {
  width: 400px;
  margin: 20px 0;
  padding: 15px;
  border: 0.5px solid #ccc;
}
</style>
