<template>
  <div>
    <h1>Users</h1>

    <p>This component demonstrates fetching data from the server.</p>

    <div v-if="!users" class="text-center">
      <p>
        <em>Loading...</em>
      </p>
      <h1>
        <!-- <icon icon="spinner" pulse/> -->
      </h1>
    </div>

    <template v-else>
      <table class="table">
        <thead class="bg-dark text-white">
          <tr>
            <th>User Id</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Roles</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr :class="index % 2 == 0 ? 'bg-white' : 'bg-light'" v-for="(user, index) in users" :key="index">
            <td class="user-id">{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.roles.map(e => e.name).join(", ") }}</td>
            <td>
              <button class='btn btn-danger' :id="user.id" @click.prevent="deleteUser">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { userApi } from "../services/user.service";
import { Component } from "vue-property-decorator";
import User from "../models/user";

@Component
export default class UserList extends Vue {
  users: User[] = [];
  currentUser: User = JSON.parse(localStorage.getItem("user") || "{}");

  async loadPage() {
    try {
      let response: any = await userApi.getAll();
      this.users = <User[]>response;
    } catch (err) {
      window.alert(err);
    }
  }

  async deleteUser(event: Event) {
    let button = <HTMLButtonElement>event.target;
    button.disabled = true;
    let id = button.id;
    if (this.currentUser.id !== id) {
      userApi.deleteUser(id).then(
        () => {
          this.loadPage();
          button.disabled = false;
        },
        err => {
          window.alert(err);
          button.disabled = false;
        }
      );
    } else {
      window.alert(`Can't delete current logged in user`);
      button.disabled = false;
    }
  }

  async created() {
    this.loadPage();
  }
}
</script>

<style scoped lang="scss">
</style>
