<template>
  <div id="app" class="container-fluid">
    <div v-if="isLoggedin">
      <v-app id="inspire">
        <v-navigation-drawer fixed clipped v-model="drawer" app>
          <v-list dense>
            <v-list-tile v-for="item in items" :key="item.text" @click="navigate(item.url)">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="logOut()">
              <v-list-tile-action>
                <v-icon>power_off</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Log out
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar color="blue darken-3" dark fixed clipped-left app>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-icon class="mx-3"></v-icon>
          <v-toolbar-title class="mr-5 align-center">
            <span class="title">leeftail</span>
          </v-toolbar-title>
          <v-text-field flat solo-inverted prepend-icon="search" label="Search" class="hidden-sm-and-down"></v-text-field>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-content>
          <v-container fill-height>
            <v-layout justify-center>
              <v-flex shrink>
                <router-view/>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
      </v-app>
    </div>
    <div class="authen-container" v-else>
      <div class="col-sm-12">
        <form v-on:submit.prevent="onSubmit()">
          <login-form v-if="!isSignup" :isSignup="isSignup" :authen="authen"></login-form>
          <signup-form v-else :isSignup="isSignup" :newUser="newUser"></signup-form>

          <button v-bind:disabled="isProcessing" class="btn btn-primary" type="submit">{{submitText}}</button>
          <button v-bind:disabled="isProcessing" class="btn btn-default" type="button" v-on:click.prevent="changeMode()">{{changeModeText}}</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { userApi } from "./services/user.service";
import LoginForm from "./components/login-form";
import SignupForm from "./components/signup-form";
import router from "./router";

export default {
  components: {
    "login-form": LoginForm,
    "signup-form": SignupForm
  },

  computed: {
    submitText: function() {
      return !this.isSignup ? "Login" : "Save";
    },
    changeModeText: function() {
      return !this.isSignup ? "Sign up" : "Back";
    }
  },

  data() {
    return {
      drawer: true,
      items: [
        { icon: "home", text: "Home", url: "/" },
        { icon: "card_giftcard", text: "Products", url: "/products" },
        { icon: "people", text: "Users", url: "/users" }
      ],
      source: String,
      isLoggedin:
        JSON.parse(localStorage.getItem("user")) &&
        JSON.parse(localStorage.getItem("user")).token,
      isSignup: false,
      authen: {},
      newUser: {},
      isProcessing: false,
      currentUser: JSON.parse(localStorage.getItem("user"))
    };
  },

  methods: {
    changeMode() {
      this.isSignup = !this.isSignup;
    },
    async onSubmit() {
      this.isProcessing = true;
      try {
        if (!this.isSignup) {
          userApi.authenticate(this.authen).then(
            user => {
              this.isProcessing = false;
              this.currentUser = user;
              this.isLoggedin = true;
            },
            error => {
              window.alert(error);
              this.isProcessing = false;
            }
          );
        } else {
          userApi.register(this.newUser).then(() => {
            this.isProcessing = false;
            this.isSignup = false;
          });
        }
      } catch (err) {
        window.alert(err);
      }
    },
    logOut() {
      localStorage.removeItem("user");
      this.isLoggedin = false;
    },
    navigate(url) {
      router.push(url);
    }
  },

  created() {
    //empty
  }
};
</script>


<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.authen-container {
  width: 25%;
  height: 500px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.btn {
  margin: 0 5px;
}
</style>
