<template>
  <div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" required v-model="authen.username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" required v-model="authen.password" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class LoginForm extends Vue {
  @Prop({ type: Object, required: false })
  authen!: object;
}
</script>
