<template>
  <div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" id="lastname" class="form-control" required v-model="newUser.lastName" />
    </div>
    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="text" id="fitstname" class="form-control" required v-model="newUser.firstName" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" required v-model="newUser.username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" id="password" class="form-control" required v-model="newUser.password" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class SignUpForm extends Vue {
  @Prop(Object)
  newUser!: object;
}
</script>
